/* Reset básico (apenas para o hub, se quiser isolar) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Fonte: "Playfair Display" */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 


/*  Fonte: "Montserrat"  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



.navbar {
  position: fixed; /* fica sempre no topo */
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: #0b1c2c; /* azul escuro */
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
}

/* logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  background-color: #0b1c2c;
}

/* menu central */

.menu {
  display: flex;
  justify-content: center;
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #0b1c2c;
  border-radius: 5px;
}

/* lado direito */
.acoes a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 15px;
  background-color: #0b1c2c;
}


/* Aqui vai arrumar a logo */
.hub-principal  {
  padding-top: 3%;
  border-radius: 100%;
  
}

#titulos{
  text-align: center;
  color: #382e2e;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

#vinhosrose{
  text-align: center;
  color: rgb(172, 113, 113);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#frase-impactante{
  text-align: center;
  color: #2e2626;
}